// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
  font-size: 150%;
}
#release_date_label {
  font-weight: bold;
}
#genre_label {
  font-weight: bold;
}

.alert-error {
  color: red;
}
.alert-success {
  color: green;
}
