// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left {
  width: 500px;
  float: left;
}
#right {
  margin-left: 500px;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}

#movie_image {
  width: 100px;
  float: left;
}
#movie_rest {
  margin-left: 100px;
  /* Change this to whatever the width of your left column is*/
}
#movie {
  /*border: 1px solid black;*/
  /*height: 138px;*/
}

#recent_left {
  width: 200px;
  float: left;
}
#recent_right {
  margin-left: 200px;
  /* Change this to whatever the width of your left column is*/
  margin-bottom: 30px;
}

#recent_movie_color {
  color: grey;
}

